.bundle
db/*.sqlite3
log/*.log
tmp/**/*
nbproject
nbproject/*
nbproject/**/*
Thumbs.db
**/Thumbs.db
public/**/active_scaffold
public/blank.html
.idea/
/.sass-cache/
*.old
/doc/*
server.log
*.tar
*.swp
*.old
config/bitcoin.yml
config/database.yml
config/environments/development.rb
db/migrate/20130512002914_add_devise_to_users.rb
db/schema.rb
*~
